# Car Acceptibility Predictor

The description of each variable are :

Buying_Price - Categorical Data [vhigh, high, med, low]

Maintenance_Price - Categorical Data [vhigh, high, med, low]

No_of_Doors - Categorical Data

Person_Capacity - Categorical Data [2, 4, more]

Size_of_Luggage - Categorical Data [small, med, big]

Safety - Categorical Data

Car_Acceptability - Categorical Data

In [1]:
# import libriaries 
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
cars_df = pd.read_csv("car_data.csv")
print(len(cars_df))
print()
cars_df.head()

1727

   vhigh vhigh.1  2 2.1  small   low  unacc
0  vhigh   vhigh  2   2  small   med  unacc
1  vhigh   vhigh  2   2  small  high  unacc
2  vhigh   vhigh  2   2    med   low  unacc
3  vhigh   vhigh  2   2    med   med  unacc
4  vhigh   vhigh  2   2    med  high  unacc

In [3]:
#Since our dataset doesn't contain the name of columns, the column names will be assigned 
cars_df.columns = ['buying', 'maint', 'doors','persons','lug_boot','safety','class']
print(len(cars_df))
print()
cars_df.head()

1727

  buying  maint doors persons lug_boot safety  class
0  vhigh  vhigh     2       2    small    med  unacc
1  vhigh  vhigh     2       2    small   high  unacc
2  vhigh  vhigh     2       2      med    low  unacc
3  vhigh  vhigh     2       2      med    med  unacc
4  vhigh  vhigh     2       2      med   high  unacc

## Explore Data

In [ ]:
cars_df.isnull().