# Car Acceptibility Predictor

The description of each variable are :

Buying_Price - Categorical Data [vhigh, high, med, low]

Maintenance_Price - Categorical Data [vhigh, high, med, low]

No_of_Doors - Categorical Data

Person_Capacity - Categorical Data [2, 4, more]

Size_of_Luggage - Categorical Data [small, med, big]

Safety - Categorical Data

Car_Acceptability - Categorical Data

In [1]:
# import libriaries 
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
cars_df = pd.read_csv("car_data.csv")
print(len(cars_df))
print()
cars_df.head()

1727

   vhigh vhigh.1  2 2.1  small   low  unacc
0  vhigh   vhigh  2   2  small   med  unacc
1  vhigh   vhigh  2   2  small  high  unacc
2  vhigh   vhigh  2   2    med   low  unacc
3  vhigh   vhigh  2   2    med   med  unacc
4  vhigh   vhigh  2   2    med  high  unacc

In [3]:
#Since our dataset doesn't contain the name of columns, the column names will be assigned 
cars_df.columns = ['buying', 'maint', 'doors','persons','lug_boot','safety','class']
print(len(cars_df))
print()
cars_df.head()

1727

  buying  maint doors persons lug_boot safety  class
0  vhigh  vhigh     2       2    small    med  unacc
1  vhigh  vhigh     2       2    small   high  unacc
2  vhigh  vhigh     2       2      med    low  unacc
3  vhigh  vhigh     2       2      med    med  unacc
4  vhigh  vhigh     2       2      med   high  unacc

## Explore Data

In [4]:
cars_df.isnull().sum()

buying      0
maint       0
doors       0
persons     0
lug_boot    0
safety      0
class       0
dtype: int64

In [5]:
cars_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1727 entries, 0 to 1726
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    1727 non-null   object
 1   maint     1727 non-null   object
 2   doors     1727 non-null   object
 3   persons   1727 non-null   object
 4   lug_boot  1727 non-null   object
 5   safety    1727 non-null   object
 6   class     1727 non-null   object
dtypes: object(7)
memory usage: 94.6+ KB

In [9]:
cars_df.shape

(1727, 7)

We can see that all the data types are objects. All the values in the data are categorical variables. There are  not numerical or continuous variables.

Let's view all the number of unique values in each column.

In [11]:
# view unique values in each column
for col in cars_df.columns:
    print(f"{col} column has {cars_df[col].nunique()} unique values ")
    print()

buying column has 4 unique values

maint column has 4 unique values

doors column has 4 unique values

persons column has 3 unique values

lug_boot column has 3 unique values

safety column has 3 unique values

class column has 4 unique values

We can see that there are only 3 or 4 number of unique values in each column in the data set.

In [16]:
# lets print out the unique values
for col in cars_df.columns: 
    print(f"{col} column unique values:")
    print(cars_df[col].unique()) 
    print()

buying column unique values
['vhigh' 'high' 'med' 'low']

maint column unique values
['vhigh' 'high' 'med' 'low']

doors column unique values
['2' '3' '4' '5more']

persons column unique values
['2' '4' 'more']

lug_boot column unique values
['small' 'med' 'big']

safety column unique values
['med' 'high' 'low']

class column unique values
['unacc' 'acc' 'vgood' 'good']